.App {
  text-align: center;
  background-color: #000; /* negro */
  color: #fff; /* blanco */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  padding: 40px;
  border-top: 5px solid #e10600; /* rojo F1 */
  border-bottom: 5px solid #e10600;
  background-color: #111;
}

.f1-title {
  color: #e10600;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subject {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
}

.message {
  font-size: 1rem;
  color: #ccc;
}
